.makelogo{
  display: block;
    height: 150vh;
    overflow: hidden;
    z-index: 2;
    position: absolute;/*--絶対値--*/
    top: 500px;
    right: 0px;
    left: 900px;
    margin: auto;
    width: 300px;
}


.top-logo{
  display: block;
    height: 100vh;
    overflow: hidden;
    z-index: 3;
    position: absolute;/*--絶対値--*/
    top: -300px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 1200px;
}


.topichome{
  display: block;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    position: absolute;/*--絶対値--*/
    top: 900px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 100%;
}

.catchcopy{
  display: block;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    position: absolute;/*--絶対値--*/
    top: 900px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 1200px;
}

.ticketmake{
  position: absolute;/*--絶対値--*/
  top: 0px;
  right: 25px;
  left: 0px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding-top: 20px;
  gap: 25px;
  justify-content: center; 
}


.catchcopy-make{
  display: block;
  color: blue;
    overflow: hidden;
    z-index: 1;
    margin: auto;
    width: 1200px;
}

.ticketeffct {
  transition-duration: 0.1s; /*変化の時間*/
  }
  .ticketeffct:hover {
  transform: scale(1.2,1.2); /*画像の拡大*/
  cursor: pointer; /*カーソルをポインターにする*/
  }